{% extends "./base.html" %}

{% block title %} Edicion de Medicamentos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="py-4">Editar Medicamento</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarmedicamento/" method="POST"> {% csrf_token %}
                <div class="form-group py-2 ">
                    <input type="text" id="txtCodigo" name="txtCodigo" value="{{medicamento.codigo}}" 
                    class="form-control" placeholder="Código" minlength="1" 
                    maxlength="3" readonly>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtNombre" name="txtNombre" value="{{medicamento.nombre}}" 
                    class="form-control" placeholder="Nombre"
                    maxlength="50" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtPrecio" name="txtPrecio" value="{{medicamento.precio}}" 
                    class="form-control" placeholder="Precio" minlength="1" 
                    maxlength="4" required>
                </div>
                <div class="form-group py-2" >
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    <a class="btn btn-warning" href="{% url 'home' %}">Cancelar</a>
                </div>
            </form>
            </div>
        
        </div>
    </div>
</div>
{% endblock %}