{% extends "./base.html" %}

{% block title %} Edicion de Proveedores {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="py-4">Editar Proveedor</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarproveedor/" method="POST"> {% csrf_token %}
                <div class="form-group py-2 ">
                    <input type="text" id="txtId" name="txtId" value="{{proveedor.identificador}}" 
                    class="form-control" placeholder="Identicador" minlength="1" 
                    maxlength="3" readonly>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtNombres" name="txtNombres" value="{{proveedor.nombres}}" 
                    class="form-control" placeholder="Nombres"
                    maxlength="50" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtApellidos" name="txtApellidos" value="{{proveedor.apellidos}}" 
                    class="form-control" placeholder="Apellidos" 
                    maxlength="100" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtNacionalidad" name="txtNacionalidad" value="{{proveedor.nacionalidad}}" 
                    class="form-control" placeholder="Nacionalidad" 
                    maxlength="50" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtTelefono" name="txtTelefono" value="{{proveedor.telefono}}" 
                    class="form-control" placeholder="Telefono"  minlength="10"
                    maxlength="10" required>
                </div>
                <div class="form-group py-2" >
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    <a class="btn btn-warning" href="{% url 'proveedores' %}">Cancelar</a>
                </div>
            </form>
            </div>
        
        </div>
    </div>
</div>
{% endblock %}