{% extends "./base.html" %}

{% block title %}Gestion de Medicamentos{% endblock %}

{% block body %}

<h1>Gestion de Medicamentos</h1>

<div class="row" >
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2 class="py-4">Agregar Nuevo Medicamento</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarmedicamento/" method="POST"> {% csrf_token %}
                <div class="form-group py-2 ">
                    <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Miligramos" 
                    minlength="1"  maxlength="3" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                    maxlength="50" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtPrecio" name="txtPrecio" class="form-control" placeholder="Precio" 
                    minlength="2" maxlength="4" required>
                </div>
                <div class="form-group py-2" >
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    <a class="btn btn-warning" href="{% url 'home' %}">Cancelar</a>
                </div>
            </form>
            </div>
        
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h2 class="py-4">Listado de Medicamentos</h2>
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"  
        method="GET">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." 
                name="buscar" value="{{request.POST.buscar}}" >
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm">Query</i>
                    </button>

                </div>
            </div>
        </form>
        <br>
        <hr>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive py-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Miligramos</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in medicamentos %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{c.codigo}}</td>
                                <td>{{c.nombre}}</td>
                                <td>{{c.precio}}</td>
                                <td><a href="edicionmedicamento/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                                <td><a href="eliminarmedicamento/{{c.codigo}}" class="btn btn-danger btnEliminacion">
                                    Eliminar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
        
                    </table>
        
                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}