{% extends "./base.html" %}

{% block title %}Gestion de Proveedores{% endblock %}

{% block body %}

<h1>Gestion de Proveedores</h1>
<div class="row ">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2 class="py-4">Agregar Nuevo Proveedor</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarproveedor/" method="POST"> {% csrf_token %}
                <div class="form-group py-2 ">
                    <input type="text" id="txtId" name="txtId" class="form-control" placeholder="id" minlength="1" 
                    maxlength="3" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtNombres" name="txtNombres" class="form-control" placeholder="Nombre"
                    maxlength="50" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtApellidos" name="txtApellidos" class="form-control" placeholder="Apellidos" 
                    maxlength="100" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtNacionalidad" name="txtNacionalidad" class="form-control" placeholder="Ciudad"  
                    maxlength="50" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Telefono" minlength="10" 
                    maxlength="10" required>
                </div>
                <div class="form-group py-2" >
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    <a class="btn btn-warning" href="{% url 'home' %}">Cancelar</a>
                </div>
            </form>
            </div>
        
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h2 class="py-4">Listado de Proveedores</h2>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive py-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Identificacion</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Ciudad</th>
                                <th>Telefono</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in proveedores %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{d.identificador}}</td>
                                <td>{{d.nombres}}</td>
                                <td>{{d.apellidos}}</td>
                                <td>{{d.nacionalidad}}</td>
                                <td>{{d.telefono}}</td>
                                <td><a href="edicionproveedor/{{d.identificador}}" class="btn btn-info">Editar</a></td>
                                <td><a href="eliminarproveedor/{{d.identificador}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
        
                    </table>
        
                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}