<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Autentificación</h2>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-body">
                        <table>
                            {{ form.as_table }}
                        </table>

                    </div>

                </div>
            </div>

        </div>


        <input type="submit" value="Login" >

    </form>
    
</body>
</html>
